.charcCard {
    background-color: white;
    width: 60%;
    border-radius: 9px;
    margin: 15px auto;
    padding: 10px;
}

h2 {
    background-color: gray;
    width: 75%;
    padding: 5px;
    margin: 0 auto;
    border-radius: 9px;
    color:white;
}

.charDescription {
    background-color: gray;
    width: 75%;
    padding: 5px;
    color: white;
    border-radius: 9px;
    margin: 15px auto;
}